@using Taps5
@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI

<!DOCTYPE html>
<html ng-app="FrontTaps">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <style>
        .ui-dialog > .ui-widget-header {
            background: #1e8fc6;
        }

        .ui-dialog-title {
            color: #fff;
            text-shadow: none;
            font-weight: normal;
            padding-left: 11px;
        }
    </style>
    <link href="~/Areas/FrontTaps/Css/style.css" rel="stylesheet" />
    <link href="~/assets/css/toastr.min.css" rel="stylesheet" />




    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/css/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/css/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/css/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/css/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="~/css/assets/ico/favicon.png">

    <script src="~/js/lib/jquery-2.1.0.min.js"></script>

    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList }
)

    <script src="~/assets/js/jquery-2.1.0.min.js"></script>
    <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>

    @* custom angular *@
    <script src="~/assets/angular-1.2.9/angular.min.js"></script>
    <script src="~/assets/angular-1.2.9/angular-cookies.js"></script>
    <script src="~/assets/angular-1.2.9/ngDraggable.js"></script>
    <script src="~/Scripts/angular-file-upload-shim.min.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>
    <script src="~/assets/angular-1.2.9/angular-route.min.js"></script>
    <script src="~/assets/angular-1.2.9/angular-sanitize.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="~/assets/js/jquery-ui-1.10.3.min.js"></script>

    @* custom 3rd party *@
    <script src="~/assets/js/toastr.min.js"></script>
    <script src="~/assets/js/bootbox.min.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/underscore-min.js"></script>
    <script src="~/assets/js/jquery.ui.widget.js"></script>

    @* custom simplitheme *@
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/dropzone.min.js"></script>
    <script src="~/assets/js/fullcalendar.min.js"></script>
    <script src="~/assets/js/jquery.flot.min.js"></script>
    <script src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/jquery.flot.stack.min.js"></script>
    <script src="~/assets/js/jquery.flot.resize.min.js"></script>
    <script src="~/assets/js/jquery.flot.time.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.placeholder.min.js"></script>

    <script src="~/assets/js/custom.min.js"></script>
    <script src="~/assets/js/core.min.js"></script>
    @*<script src="~/js/pages/index.js"></script>*@
    <script src="~/Areas/FrontTaps/app/app.js"></script>
    <script src="~/Areas/FrontTaps/app/utils.js"></script>
    <script src="~/Areas/FrontTaps/app/route.js"></script>
    <script src="~/Areas/FrontTaps/app/services.js"></script>

    <script src="~/Areas/FrontTaps/app/createDialog.js"></script>
    <script src="~/Areas/FrontTaps/app/appInterceptor.js"></script>
    <script src="~/Areas/FrontTaps/app/directives/ng-really.js"></script>

    <!-- page scripts -->
    <script src="~/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    @*<script src="~/assets/js/jquery.chosen.min.js"></script>*@
    <script src="~/assets/js/jquery.chosen.min.js"></script>
    <script src="~/assets/js/jquery.cleditor.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.placeholder.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/jquery.hotkeys.min.js"></script>
    <script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>

    <!-- theme scripts -->
    <!-- inline scripts related to this page -->
    <script src="~/assets/js/pages/form-elements.js"></script>
    <script src="~/assets/js/pages/form-dropzone.js"></script>
    <script src="~/assets/js/jquery.mjs.nestedSortable.js"></script>
    <script src="~/Areas/FrontTaps/app/angular-local-storage.min.js"></script>
    <script src="~/Areas/FrontTaps/app/sha1.js"></script>
    <script src="~/Areas/FrontTaps/app/controllers/Account/Login.js"></script>
</head>
<body>
    <div class="main-body">
        <div class="padding">
            <div class="logo">
                <img src="~/Areas/FrontTaps/img/logo.jpg" />
            </div>

            <div class="baner" id="TopBanner" ng-controller="PointsCtrl">
                <div class="baner-in">
                    <div class="logout-first">
                        <span>
                            Welcome,@if (User.Identity.Name != string.Empty)
                            { <span><a style="color: #70c3e5;" href="/Account/Profile">@User.Identity.Name</a></span>}
                            else
                            {
                                <span style="color: #70c3e5;">Guest</span>
                            }, you have {{Points}} pts.
                        </span>
                    </div>
                    <div class="logout-second">
                        <div class="in">
                            @if (User.Identity.Name != string.Empty)
                            {
                                <a style="cursor:pointer" ng-click="Logout()">Logout</a>
                            }
                            else
                            {
                                <a href="/Account/Login">Login</a>

                            }
                        </div>
                        <div style="float:left; margin-left:60px; margin-top:5px; color:#fff;">|</div>
                        <div class="cart"> <a href="/Cart/ShoppingCart">CART &#8744;</a> </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="header_bottom">
            @{ Html.RenderPartial("_Navigation"); }
        </div>
        <div class="body-padding">
            <div class="body-part">
                @RenderBody()
            </div>
        </div>
    </div>
    <a href="#" class="scrollup">Scroll</a>
</body>
</html>

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });

        $('.scrollup').click(function () {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            return false;
        });

    });
</script>
<style>
    .scrollup {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 50px;
        right: 100px;
        display: none;
        text-indent: -9999px;
        background: url('/Areas/FrontTaps/img/Icon-arrow-top.png') no-repeat;
        background-size: contain;
        background-color: #000;
    }

        .scrollup:hover {
            background-color: #A0CE4E;
        }
</style>
<script src="~/Areas/FrontTaps/app/controllers/BannerMgmt/BannerMgmt.js"></script>
